body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

h3 {
    color: #007acc;
}

section {
    margin-bottom: 2rem;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form button {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
}
